#graffiti-app {
    position: fixed;
    top: 30vh;
    right: 20px;
    z-index: 9999999999999;
    background: rgba(255, 255, 255, 0.8);
}

.graffiti-invisible{
	display:none;
}
.graffiti-invisible.graffiti-visible{
	display:block;
}

.SprayList {
	border: 1px black solid;
	padding: 3px;
}

.SprayList .Spray {
	border: 1px red solid;
	padding: 2px;
}

#graffiti-spray{
	color:white;
	background-color:black;
}