#graffiti-app {
    position: fixed;
    top: 30vh;
    right: 20px;
    z-index: 9999999999999;
    background: rgba(255, 255, 255, 0.8);
}
#graffiti-context-add {
		cursor: 'pointer';
    -webkit-transition: opacity .5s ease-in-out;
    background-color:black;
    width: 20px;
    height: 20px;
    position: fixed;
    z-index: 9999999999999;
    position: fixed;
    opacity: 0;
}
#graffiti-context-add.graffiti-visible {
    opacity: 1;
}

.SprayList {
	border: 1px black solid;
	padding: 3px;
}

.SprayList .Spray {
	border: 1px red solid;
	padding: 2px;
}