<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
        		<h1 ng-hide="extensionPresent">DOWNLOAD THE EXTENSION</h1>
            <div>
              {{user}}
            </div>
            <form ng-submit="addIdentity()">
              <input type="text" placeholder="Organization" ng-model="organization" />
              <input type="text" placeholder="Name" ng-model="name" />
              <button type="submit">Add Identity</button>
            </form>
        </div>
    </div>
</div>
